* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 20px;
}

button {
    padding: 5px 10px;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: coral;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    scale: 0.8;
}