* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-size: 18x;
    cursor: pointer;
    transition: scale 0.3s linear;
}

button:active {
    scale: 0.9;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card {
    position: absolute;
}