* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: rgb(26, 26, 26); */
    color: white;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0.5rem 2rem;
    margin-inline: auto;
}

header {
    padding: 1rem 0;
    background-color: rgba(20, 20, 20, 0.493);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: all 0.3s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul>li {
    text-decoration: none;
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 2.5rem;
}

li {
    font-size: 1.8rem;
}

main {
    width: 100%;
}

section {
    height: 100%;
}

section:not(:first-child) {
    position: sticky;
}

.section1 {
    z-index: 0;
}

.section2 {
    top: 0;
    z-index: 1;
}

.section3 {
    top: 0;
    z-index: 2;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}