* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: maroon;
    transition: transform 1s ease;
    color: white;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}